# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [2]:
import pandas as pd
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [3]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [5]:
series_ = pd.Series(lst)
series_

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [8]:
third = series_[2]
third

74.4

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [9]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [10]:
df = pd.DataFrame(b)

In [12]:
df.head()

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9

### 5. Rename the data frame columns based on the names in the list below.

In [4]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [13]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [22]:
df.rename(columns=dict(zip(df.columns, colnames)), inplace=True)

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [27]:
subset_df = df[['Score_1', 'Score_3', 'Score_5']]
subset_df.head()

   Score_1  Score_3  Score_5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9

### 7. From the original data frame, calculate the average Score_3 value.

In [31]:
df["Score_3"].mean()

56.95000000000001

### 8. From the original data frame, calculate the maximum Score_4 value.

In [32]:
df["Score_4"].max()

88.8

### 9. From the original data frame, calculate the median Score 2 value.

In [37]:
df["Score_2"].median()

40.75

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [40]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [41]:
dict_df = pd.DataFrame(orders)

In [42]:
dict_df.head()

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [48]:
total_quantity = dict_df["Quantity"].sum()
print(f"there were a total of {total_quantity} orders!")

there were a total of 2978 orders!

In [50]:
total_revenue = dict_df["Revenue"].sum()
print(f"there was a total of {total_revenue} revenue!")

there was a total of 637.0 revenue!

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [55]:
least_expensive_item = dict_df["UnitPrice"].min()
least_expensive_item

0.18

In [56]:
condition_1 = dict_df["UnitPrice"] == 0.18
dict_df[condition_1].sample()

                         Description  Quantity  UnitPrice  Revenue
3  WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18    518.4

In [57]:
most_expensive_item = dict_df["UnitPrice"].max()
most_expensive_item

11.95

In [58]:
condition_2 = dict_df["UnitPrice"] == 11.95
dict_df[condition_2].sample()

                      Description  Quantity  UnitPrice  Revenue
6  BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95

In [61]:
a = most_expensive_item - least_expensive_item
a

11.77

## Let's load another dataset for more exercisesÂº

In [112]:
# Run this code:
admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [113]:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [114]:
admissions.isnull().values.any()

False

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [115]:
admissions.set_index("Serial No.", inplace=True)

In [116]:
admissions.index

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       376, 377, 378, 379, 380, 381, 382, 383, 384, 385],
      dtype='int64', name='Serial No.', length=385)

In [117]:
admissions.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90

In [118]:
admissions['serial_Number'] = admissions.index

In [119]:
admissions['serial_Num'] = admissions.index

In [120]:
admissions.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,serial_Number,serial_Num
Serial No.,,,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92,1,1
2,316,104,3,3.0,3.5,8.00,1,0.72,2,2
3,322,110,3,3.5,2.5,8.67,1,0.80,3,3
4,314,103,2,2.0,3.0,8.21,0,0.65,4,4
5,330,115,5,4.5,3.0,9.34,1,0.90,5,5

"Turns out that GRE Score and CGPA also uniquely identify the data. Show this in the cell below."

In [108]:
admissions.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,serial_Number,serial_Num
Serial No.,,,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92,1,1
2,316,104,3,3.0,3.5,8.00,1,0.72,2,2
3,322,110,3,3.5,2.5,8.67,1,0.80,3,3
4,314,103,2,2.0,3.0,8.21,0,0.65,4,4
5,330,115,5,4.5,3.0,9.34,1,0.90,5,5

In [121]:
admissions['CGPA_Copy'] = admissions.CGPA

In [123]:
admissions['GRE_Copy'] = admissions["GRE Score"]

In [125]:
admissions.set_index(["serial_Num", "CGPA", "GRE Score"], inplace=True)

In [126]:
admissions.head()

,,,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,serial_Number,CGPA_Copy,GRE_Copy
serial_Num,CGPA,GRE Score,,,,,,,,,
1,9.65,337,118,4,4.5,4.5,1,0.92,1,9.65,337
2,8.00,316,104,3,3.0,3.5,1,0.72,2,8.00,316
3,8.67,322,110,3,3.5,2.5,1,0.80,3,8.67,322
4,8.21,314,103,2,2.0,3.0,0,0.65,4,8.21,314
5,9.34,330,115,5,4.5,3.0,1,0.90,5,9.34,330

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [127]:
condition_3 = admissions["CGPA_Copy"] > 9
condition_4 = admissions["Research"] == 1

In [135]:
number_of_rows = admissions[condition_3 & condition_4].shape[0]

In [136]:
print(number_of_rows)

101

#### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [133]:
condition_5 = admissions["SOP"] < 3.5

In [153]:
number_of_Con4_5 = admissions[condition_3 & condition_5]

In [154]:
number_of_Con4_5

,,,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,serial_Number,CGPA_Copy,GRE_Copy
serial_Num,CGPA,GRE Score,,,,,,,,,
29,9.40,338,118,4,3.0,4.5,1,0.91,29,9.40,338
63,9.02,327,114,3,3.0,3.0,0,0.61,63,9.02,327
141,9.11,326,114,3,3.0,3.0,1,0.83,141,9.11,326
218,9.01,324,111,4,3.0,3.0,1,0.82,218,9.01,324
382,9.11,325,107,3,3.0,3.5,1,0.84,382,9.11,325

In [155]:
mean_chance_of_admit = number_of_Con4_5["Chance of Admit"].mean()
print(mean_chance_of_admit)

0.8019999999999999

In [174]:
admissions.rename(columns = {"TOEFL Score":"TOEFL_Score"}, inplace=True)

Let's create a new column based on the TOEFL Score column, where we put True if the TOEFL value is greater than 100 and False if it is less. We are going to do it with a function and an apply. 
To do this, we first create a function that receives an argument. The function will return True if the parameter entered is greater than 100, otherwise it will return False.

In [175]:
def TOEFL_greater_than_100(TOEFL_Score):
    if TOEFL_Score > 100:
        return True
    return False

In [177]:
admissions['TOEFL_Greater_Than_100'] = admissions['TOEFL_Score'].apply(TOEFL_greater_than_100)

In [181]:
admissions.head(40)

,,,TOEFL_Score,University Rating,SOP,LOR,Research,Chance of Admit,serial_Number,CGPA_Copy,GRE_Copy,TOEFL_Greater_Than_100
serial_Num,CGPA,GRE Score,,,,,,,,,,
1,9.65,337,118,4,4.5,4.5,1,0.92,1,9.65,337,True
2,8.00,316,104,3,3.0,3.5,1,0.72,2,8.00,316,True
3,8.67,322,110,3,3.5,2.5,1,0.80,3,8.67,322,True
4,8.21,314,103,2,2.0,3.0,0,0.65,4,8.21,314,True
5,9.34,330,115,5,4.5,3.0,1,0.90,5,9.34,330,True
6,8.20,321,109,3,3.0,4.0,1,0.75,6,8.20,321,True
7,7.90,308,101,2,3.0,4.0,0,0.68,7,7.90,308,True
8,8.00,302,102,1,2.0,1.5,0,0.50,8,8.00,302,True
9,8.60,323,108,3,3.5,3.0,0,0.45,9,8.60,323,True
10,9.00,327,111,4,4.0,4.5,1,0.84,10,9.00,327,True
11,9.10,328,112,4,4.0,4.5,1,0.78,11,9.10,328,True
12,8.00,307,109,3,4.0,3.0,1,0.62,12,8.00,307,True
13,8.20,311,104,3,3.5,2.0,1,0.61,13,8.20,311,True
14,8.30,314,105,3,3.5,2.5,0,0.54,14,8.30,314,True
15,8.70,317,107,3,4.0,3.0,0,0.66,15,8.70,317,True
16,8.00,319,106,3,4.0,3.0,1,0.65,16,8.00,319,True
17,8.80,318,110,3,4.0,3.0,0,0.63,17,8.80,318,True
18,8.50,303,102,3,3.5,3.0,0,0.62,18,8.50,303,True
19,8.40,325,114,4,3.0,2.0,0,0.70,19,8.40,325,True
20,9.50,328,116,5,5.0,5.0,1,0.94,20,9.50,328,True
21,9.70,334,119,5,5.0,4.5,1,0.95,21,9.70,334,True
22,9.80,336,119,5,4.0,3.5,1,0.97,22,9.80,336,True
23,8.80,322,109,5,4.5,3.5,0,0.76,23,8.80,322,True
24,7.50,298,98,2,1.5,2.5,1,0.44,24,7.50,298,False
25,7.20,295,93,1,2.0,2.0,0,0.46,25,7.20,295,False
26,7.30,310,99,2,1.5,2.0,0,0.54,26,7.30,310,False
27,8.10,300,97,2,3.0,3.0,1,0.65,27,8.10,300,False
28,8.30,327,103,3,4.0,4.0,1,0.74,28,8.30,327,True
29,9.40,338,118,4,3.0,4.5,1,0.91,29,9.40,338,True
30,9.60,340,114,5,4.0,4.0,1,0.90,30,9.60,340,True
31,9.80,331,112,5,4.0,5.0,1,0.94,31,9.80,331,True
32,9.20,320,110,5,5.0,5.0,1,0.88,32,9.20,320,True
33,8.40,299,106,2,4.0,4.0,0,0.64,33,8.40,299,True
34,7.80,300,105,1,1.0,2.0,0,0.58,34,7.80,300,True
35,7.50,304,105,1,3.0,1.5,0,0.52,35,7.50,304,True
36,7.70,307,108,2,4.0,3.5,0,0.48,36,7.70,307,True
37,8.00,308,110,3,3.5,3.0,1,0.46,37,8.00,308,True
38,8.20,316,105,2,2.5,2.5,1,0.49,38,8.20,316,True
39,8.50,313,107,2,2.5,2.0,1,0.53,39,8.50,313,True
40,9.10,332,117,4,4.5,4.0,0,0.87,40,9.10,332,True

Now we create a new column called "Decision" and apply to the TOEFL Score column

In [184]:
def make_decision(TOEFL_score):
    if TOEFL_score > 100:
        return 'Accept'
    else:
        return 'Reject'
admissions["Decision"] = admissions['TOEFL_Score'].apply(make_decision)

In [185]:
admissions.head()

,,,TOEFL_Score,University Rating,SOP,LOR,Research,Chance of Admit,serial_Number,CGPA_Copy,GRE_Copy,TOEFL_Greater_Than_100,Decision
serial_Num,CGPA,GRE Score,,,,,,,,,,,
1,9.65,337,118,4,4.5,4.5,1,0.92,1,9.65,337,True,Accept
2,8.00,316,104,3,3.0,3.5,1,0.72,2,8.00,316,True,Accept
3,8.67,322,110,3,3.5,2.5,1,0.80,3,8.67,322,True,Accept
4,8.21,314,103,2,2.0,3.0,0,0.65,4,8.21,314,True,Accept
5,9.34,330,115,5,4.5,3.0,1,0.90,5,9.34,330,True,Accept

Create a column called `decision2` in the `admissions` dataframe. Assign 1 to this column if the value of `SOP` is greater than 3 and 0 otherwise.    
HINT (use np.where)

In [187]:
def Sop_Greater_than_3(SOP):
    if SOP > 3:
        return "1"
    else:
        return "0"


admissions["decision2"] = admissions["SOP"].apply(Sop_Greater_than_3)
admissions.head()

,,,TOEFL_Score,University Rating,SOP,LOR,Research,Chance of Admit,serial_Number,CGPA_Copy,GRE_Copy,TOEFL_Greater_Than_100,Decision,decision2
serial_Num,CGPA,GRE Score,,,,,,,,,,,,
1,9.65,337,118,4,4.5,4.5,1,0.92,1,9.65,337,True,Accept,1
2,8.00,316,104,3,3.0,3.5,1,0.72,2,8.00,316,True,Accept,0
3,8.67,322,110,3,3.5,2.5,1,0.80,3,8.67,322,True,Accept,1
4,8.21,314,103,2,2.0,3.0,0,0.65,4,8.21,314,True,Accept,0
5,9.34,330,115,5,4.5,3.0,1,0.90,5,9.34,330,True,Accept,1